@inherits LayoutComponentBase

<PageTitle>TikTakToe.Blazor</PageTitle>

<div class="page">
    <main class="vh-100">
        <NavMenu />

        <article class="content px-4 h-100">
            @Body
        </article>
    </main>
</div>
